*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:black;
    color:white;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.flex-item{
    /* Breedte en hoogte */
    flex-basis: calc(50% - 10px - 8px);
    flex-grow: 0;
    flex-shrink:0;

    /* Kleur van de box en een border */
    background-color:black;
    color:white;
    border: black;
    border: 1px solid white;
    
}

.text{
    flex-basis: 500px;
    flex-wrap: wrap;
    border: 1px solid white;
    padding: 20px;
    align-items: start;
    text-align: center;
}

.picture{
    flex-basis: inherit;
    border: hidden;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: px;
    border: solid;
    margin-bottom: 40px;
}

a{
    color: white;
}

.glow {
  color: white;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px white, 0 0 20px black, 0 0 30px black, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white;
  }
  
  to {
    text-shadow: 0 0 20px white, 0 0 30px black, 0 0 40px black, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;
  }
}

.list{
    flex-basis: 500px;
    flex-wrap: wrap;
    border: 1px solid white;
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

pre{
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
}

footer{
    color: gray;
    gap: 50px;
    text-align: center;
}

.list1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 500px;
    padding: 10px;
    margin-bottom: 20px;
}


